@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700;900&display=swap');

* {
    margin: 0;
    padding: 0;
}

body {
    background-color: #FFF;
}

/* common-style */
.container {
    width: 80%;
    max-width: 1320px;
    margin: 0 auto;
    border-radius: 20px;
}

p {
    color: rgba(255, 255, 255, 0.80);
    font-family: Inter;
    font-size: 25px;
    font-weight: 380;
    margin-top: 2%;
}

/* banner-style */
.banner {
    background-image: url('../resources/Banner.png');
    height: 600px;
    width: 80%;
    max-width: 1320px;
    margin: 0 auto;
    align-items: center;
    justify-content: center;

}

header {
    margin-top: 20px;
}

.banner h5 {
    color: #d2d21b;
    text-align: center;
    font-family: sans-serif;
    font-size: 40px;
    font-weight: 400;
    padding-top: 200px;
}

.banner h5 .span1 {
    color: crimson;
}

.banner h5 .span2 {
    color: aqua;
}

.banner p {
    color: aliceblue;
    text-align: center;
    font-family: sans-serif;
    font-size: 72px;
    font-weight: 900;
    padding: 10px 340px 150px 340px;
}

/* section-1 start */
.section1 h3 {
    color: #F00;
    text-align: center;
    font-family: 'Inter', sans-serif;
    font-size: 88px;
    font-weight: 700;
    margin-top: 150px;
}

.section1 h3 span {
    color: #22d1a0;
}

.section1 .p1 {
    color: #F00;
    text-align: center;
    font-family: Inter;
    font-size: 24px;
    font-weight: 500;
    margin-top: 40px;
}

.section1 .p2 {
    color: #070211;
    text-align: center;
    font-family: Inter;
    font-size: 48px;
    font-weight: 700;
    margin-top: 30px;
}

.section1 img {
    margin-top: 45px;
}

.section1 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/* section-1 End */

/* section-2 start */
.section2 {
    background-image: url('../resources/Vectorrr.png');
    display: flex;
    height: 600px;
    margin: 120px auto;
}

.section2 .div1 {
    margin-top: 7%;
    margin-left: 7.9%;
}

.section2 .div1 h3 {
    color: #FFF;
    font-family: 'Inter', sans-serif;
    font-size: 75px;
    font-weight: 800;
}

.section2 .div1 button {
    border-radius: 10px;
    padding: 1px 4px;
    text-align: center;
    font-family: Inter;
    font-size: 25px;
    font-weight: 700;
    margin-top: 5%;
    margin-left: 3%;
}

.section2 .div1 button:hover {
    background-color: blueviolet;
    color: aquamarine;
}

.section2 .div2 {
    margin: 4% 7% 9.5%;
}

/* section-2 End */

/* section-3 start */
.section3 {
    height: 400px;
    background-color: rgb(255, 247, 254);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.section3 p {
    color: #070211;
    text-align: center;
    font-family: Inter;
    font-size: 32px;
    font-weight: 600;
    line-height: 55px
}

.section3 span {
    color: rgb(255, 0, 0);
}

.section3 button {
    padding: 15px 40px;
    gap: 12px;
    border-radius: 10px;
    background: rgb(255, 0, 0);
    color: #FFF;
    text-align: center;
    font-family: Inter;
    font-size: 25px;
    font-weight: 700;
    margin-top: 30px;
}

.section3 button:hover {
    background-color: blueviolet;
    color: greenyellow;
}

/* section-3 End */

/* section-6 start */
.section6 .content .title {
    color: blue;
    font-family: Inter;
    font-size: 25px;
    font-weight: 480px;
}

.section6 .content h3 {
    color: #080d58;
    font-family: sans-serif;
    font-size: 50px;
    font-weight: 880;
    margin-top: 20px;
}

.section6 {
    margin-top: 130px;
}

.section6 .content .text {
    color: rgba(4, 2, 8, 0.6);
    font-family: Inter;
    font-size: 20px;
    font-weight: 400;
    max-width: 70%;
    margin: 1.5% 0;
    line-height: 30px
}

.section6 .product-photo {
    display: flex;
}

.section6 .product-photo div img {
    padding: 12px;
    border-radius: 8%;
}

/* section-6 End */
.section7 {
    height: 550px;
    background-color: rgb(255, 247, 254);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 8%;
}

.section7 .content h3 {
    color: #070211;
    text-align: center;
    font-family: sans-serif;
    font-size: 50px;
    font-weight: 850;
    margin-top: 20px;
}

.section7 .content p {
    color: rgba(7, 2, 17, 0.60);
    text-align: center;
    font-family: Inter;
    font-size: 20px;
    font-weight: 400;
    line-height: 32px
}

.section7 .input-info form{
    background: #FFF;
    justify-content: center;
    align-items: center;
    display: flex;
    margin-top: 50px;
   
}

.section7 .input-info .email {
    color: rgba(7, 2, 17, 0.30);
    font-size: 16px;
    font-weight: 400;
    border-radius: 50px 0px 0px 50px;
    padding: 15px 30px;
    
}

.section7 .input-info .button {
    color: #FFF;
    text-align: center;
    font-family: Inter;
    font-size: 16px;
    font-weight: 600;
    background: #F00;
    border-radius: 0px 50px 50px 0px;
    padding: 15px 30px;
}
.section7 .input-info .button:hover{
    background-color: rgb(39, 246, 39);
    color: #F00;
}
